body {
 background-color: lightgoldenrodyellow;
 padding: 20px;
}

h1 {
  color: rgb(25, 117, 50);
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 19px;
  padding-top: 0px;
  margin-top: 0px;
}

h4 {
  text-align: center;
  font-size: 18px;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: auto;
  justify-content: space-evenly;
}

#rock, #paper, #scissors {
  display: flex;
  width: auto;
  height: 200px;
}

.rock, .paper, .scissors {
  position: relative;
  height: auto;
  text-align: center;
  font-size: 40px;
  font-family: "Palatino Linotype", serif;
  flex: 2 2 2;
}

.scissors:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.rock:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.paper:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
